@import "./variables";

@mixin respond-to($media) {
  @if $media == mobile {
    @media (max-width: $page-desktop - 1) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $page-desktop) { @content; }
  }
  @else if $media == desktop-large {
    @media (min-width: $page-desktop-large) { @content; }
  }
}

@mixin container() {
  width: 100%;
  max-width: $page-max;

  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: $page-desktop) {
    padding-left: 40px;
    padding-right: 40px;

    min-width: $page-desktop-container;
  }
}

@mixin title() {
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 20px;
  text-align: center;
  line-height: 1.3;

  @include respond-to(desktop) {
    padding-top: 40px;
    padding-bottom: 40px;

    font-size: 25px;
  }
}

@mixin icon() {
  font-family: 'project-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, &:before {
    vertical-align: top;
  }
}

@mixin clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin list-style-none() {
  margin: 0;
  padding: 0;
  list-style: none;
}
