$color-text: #000000;
$color-background: #ffffff;

$color-progress: black;

$page-desktop: 600px;
$page-desktop-large: 1200px;
$page-desktop-container: 940px;
$page-max: 1500px;

$font-family-base: Helvetica, Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.3;

$modalZIndex: 999;
