/**
 * CSS Naming Conventions
 * https://medium.com/@drublic/css-naming-conventions-less-rules-more-fun-12af220e949b
 *
 * Code splitting pattern
 * http://bensmithett.com/smarter-css-builds-with-webpack/
 */

@import "config/mixins";

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-background;

  @include respond-to(mobile) {
    overflow: visible !important;
  }

  @include respond-to(desktop) {
    min-width: $page-desktop-container;
  }

}

a, a:visited {
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.max-height {
  height: 100%;
}

.hot-fix {
  display: flex;
}

@media (max-width: $page-desktop - 1) {
  .only-desktop {
    display: none !important;
  }
}

@media (min-width: $page-desktop) {
  .only-mobile {
    display: none !important;
  }
}
