@import "config/mixins";

@keyframes modal-animation-fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.modal-animation-enter {
  z-index: ($modalZIndex + 1) !important;
}

.modal-animation-leave {
  opacity: 1;
}

.modal-animation-leave.modal-animation-leave-active {
  opacity: 0.01;
  transition: opacity 100ms;
}
