@import "config/variables";

@keyframes modal-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-enter {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0px);
  }
}

.modal {
  animation: modal-enter 0.5s cubic-bezier(0.1, 0.9, 0.2, 1);

  &, &__layout, &__container {
    height: 100%;
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 6px;

    cursor: pointer;

    font-size: 38px;
    line-height: 1;
    font-weight: normal;
    color: rgba(black, 0.3);

    transition: color .2s ease-out;

    &:hover, &:focus, &:active {
      color: black;
    }
  }

  &__content {
    position: relative;
  }

  @media (min-width: $page-desktop) {
    position: fixed;
    z-index: $modalZIndex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    overflow-y: auto;

    animation: none;

    &__backdrop {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      background: rgba(0, 0, 0, 0.4);

      backface-visibility: hidden;
      animation: modal-fadein .3s;
    }

    &__layout {
      display: table;
      width: 100%;
      height: 100%;
      padding: 50px 0;

      animation: modal-enter 0.5s cubic-bezier(0.1, 0.9, 0.2, 1);
    }

    &__container {
      position: relative;
      display: table-cell;
      width: 100%;

      vertical-align: middle;
      text-align: center;

      transform: translateZ(0);
    }

  }
}
