@import "config/variables";

@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nprogress {
  &__bar {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;

    background: $color-progress;

    .nprogress-custom-parent & {
      position: absolute;
    }
  }

  /* Fancy blur effect */
  &__peg {
    position: absolute;
    display: block;
    right: 0px;
    width: 100px;
    height: 100%;

    box-shadow: 0 0 10px $color-progress, 0 0 5px $color-progress;
    opacity: 1.0;

    transform: rotate(3deg) translate(0px, -4px);
  }

  /* Remove these to get rid of the spinner */
  &__spinner {
    z-index: 9999;
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;

    .nprogress-custom-parent & {
      position: absolute;
    }

    &__icon {
      width: 24px;
      height: 24px;
      box-sizing: border-box;

      border: solid 2px transparent;
      border-top-color: $color-progress;
      border-left-color: $color-progress;
      border-radius: 50%;

      animation: nprogress-spinner 400ms linear infinite;
    }
  }

  &__bar, &__spinner {
    .nprogress-custom-parent & {
      position: absolute;
    }
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
