@import "config/mixins";

@keyframes spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;

  border: solid 1px transparent;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
  border-radius: 50%;

  vertical-align: middle;
  opacity: 0;

  &.is-animating {
    opacity: 1;
    animation: spinner .6s linear infinite;
  }
}

.spinner-string {
  display: table;
  width: 100%;
  height: 60px;
  color: $color-green;

  &__content {
    position: relative;
    display: table-cell;
    width: 100%;

    vertical-align: middle;
    text-align: center;
  }

  .spinner {
    margin-top: -0.3em;
  }

  .spinner + span {
    display: inline-block;
    margin-left: 10px;
    color: $color-gray;
  }
}
