<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <? if (typeof meta !== 'undefined') { ?>
      <?- meta ?>
    <? } ?>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body class="max-height">

    <div id="fb-root"></div>
    <section class="max-height" id="Root"><? if (typeof body !== 'undefined') { ?><?- body ?><? } ?></section>

    <script>
      'use strict';
      // <!--
      window.storeState = <? if (typeof storeState !== 'undefined') { ?><?- storeState ?><? } else { ?>{}<? } ?>;
      // -->
    </script>

    <% if (htmlWebpackPlugin.files.chunks.hot) { %>
    <script src="http://<%= htmlWebpackPlugin.options.address || 'localhost' %>:9090/webpack-dev-server.js"></script>
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
